@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

i:hover {
  cursor: pointer;
}

// .nav-header {
//   border-bottom: 10px solid rgba(53, 53, 53);
// }

.check-bg {
  position: absolute;
  top: -20%;
  right: -10%;
  font-size: 70rem;
  color: rgba(192, 192, 192, 0.568);
  z-index: 0!important;
}

.list-index {
  z-index: 10!important;
}

// Background-colors
.blue {
  background-color: rgba(40,75,99) !important;
  color: #fff;
}

.green {
  background-color: rgba(60,110,113) !important;
  color: #fff;
}

.orange {
  background-color: rgba(255, 145, 0) !important;
  color: #fff;
}

.dark {
  background-color: rgba(53,53,53) !important;
  color: #fff;
}

.light {
  background-color: rgb(206, 206, 206) !important;
  color: #fff;
}

// fonts 

// List Typography
.logo-icon {
  font-size: 2rem;
}

.nav-text {
  font-size: 1.6rem;
}

.nav-logo {
   font-family: 'Architects Daughter', cursive !important;
   font-size: 2rem;
}

.title-font {
  font-family: 'Architects Daughter', cursive !important;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.title-size {
  font-size: 2.5rem;
}

.number-size {
  font-size: 1.6rem;
}

.list-text-font {
  font-family: 'Montserrat',sans-serif !important;
  font-size: 1.3rem;
  text-transform: uppercase;
}

// LIST CARDS
.list-item {
  min-height: 300px;
}

.list-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  clip-path: polygon(0% 00%, 100% 0%, 100% 60%, 50% 100%, 0% 60%);
}

.list-footer {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.list-tasks {
  flex-grow: 1;
}

