@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}

i:hover {
  cursor: pointer;
}

// Background-colors
.blue {
  background-color: rgba(40,75,99) !important;
}

.green {
  background-color: rgba(60,110,113) !important;
}

.orange {
  background-color: rgba(255, 145, 0) !important;
}

.black {
  background-color: rgba(53,53,53) !important;
}

.white {
  background-color: rgba(217,217,217) !important;
}

